:root {
  --bg-elements: hsl(209, 23%, 22%);
  --bg-general: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 98%);
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

img {
  width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

select {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px hsl(209deg 23% 22%);
}

header {
  background-color: var(--bg-elements);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  height: 75px;
}

header h4 {
  color: var(--text-color);
}

header .theme-toggler {
  background-color: unset;
  border: none;
  color: var(--text-color);
  display: flex;
  gap: 5px;
}

header .theme-toggler:hover {
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  header {
    flex-direction: column;
    height: unset;
    padding: 25px 10px;
  }

  header h4 {
    text-align: center;
  }

  header .theme-toggler {
    margin-top: 10px;
  }
}

.main-container {
  padding: 45px 80px;
  background-color: var(--bg-general);
}

.main-container-single {
  height: calc(100vh - 75px);
}

@media screen and (max-width: 580px) {
  .main-container {
    padding: 15px 30px;
  }
}

.main-container .search-filter-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 60px;
}

.main-container input {
  background-color: var(--bg-elements);
  color: var(--text-color);
  border: none;
  padding: 20px 55px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px hsl(209deg 23% 22%);
}

.search-container ion-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  color: var(--text-color);
}

@media screen and (max-width: 580px) {
  .search-filter-row {
    flex-direction: column;
    margin-top: 40px;
  }

  .search-container ion-icon {
    top: 15%;
  }

  .search-container input {
    width: 100%;
    margin-bottom: 50px;
  }
}

.filter-container select {
  padding: 20px;
  background-color: var(--bg-elements);
  border: none;
  color: var(--text-color);
}

.button-card {
  border: none;
}

.button-card:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: var(--bg-elements);
  width: 20%;
  margin-right: 6.6%;
  margin-bottom: 6.6%;
  box-shadow: 0px 0px 10px 0px hsl(209deg 23% 22%);
  border-radius: 3px;
}

.card .flag img {
  border-radius: 3px 3px 0 0;
}

.card:nth-child(4n+4) {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .card {
    width: 28%;
    margin-right: 8%;
  }

  .card:nth-child(4n+4) {
    margin-right: 8%;
  }

  .card:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 49%;
    margin-right: 2%;
  }

  .card:nth-child(3n+3) {
    margin-right: 2%;
  }

  .card:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .card {
    width: 100%;
    margin-right: 0;
  }

  .card:nth-child(all) {
    margin-right: 0;
  }
}

.country-details {
  color: var(--text-color);
  padding: 20px 40px 30px;
}

.country {
  margin-bottom: 25px;
}

.country-details h5 {
  margin-bottom: 5px;
}

.country-details h5 span {
  font-weight: 300;
}

/* Single */
.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--bg-elements);
  padding: 10px 20px;
  border-radius: 5px;
  width: 135px;
}

.back-btn ion-icon {
  margin-right: 5px;
}

/* Single */
.single-content {
  display: flex;
  margin-top: 50px;
}

.flag-container {
  flex-basis: 50%;
  margin-right: 50px;
}

.details-container {
  flex-basis: 50%;
}

.country-name {
  color: var(--text-color);
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  color: var(--text-color);
}

.details span {
  margin-bottom: 10px
}

.col-left,
.col-right {
  display: flex;
  flex-direction: column;
}

.border-countries-container {
  display: flex;
  align-items: center;
}

.border-countries-container span {
  display: inline-block;
  margin-right: 15px;
  color: var(--text-color);
}

.border-countries-container a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 7px 15px;
  background-color: var(--bg-elements);
  color: var(--text-color);
  font-size: 12px;
}

@media screen and (max-width: 991px) {

  .main-container-single {
    height: unset;
  }

  .single-content,
  .details {
    flex-direction: column;
  }

  .flag-container,
  .col-left,
  .col-right {
    margin-bottom: 30px;
  }

  .border-countries-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .border-countries-container span:first-child {
    margin-bottom: 10px;
  }
}